@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 2vw;
  line-height: 4vw;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  width: 100%;
}
canvas {
  order: 2;
  width: 100% !important;
  height: 100% !important;
}
.config {
  order: 0;
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-evenly;
  justify-content: flex-end;
  gap: 2vw;
  color: gray;
}
.config input {
  width: 10%;
  height: 3vw;
  align-self: center;
  font-size: 2.5vw;
}
.config label {
  font-size: 2.5vw;
}
.config select {
  font-size: 2.5vw;
  color: gray; 
}
.config select option{
  font-size: 2.5vw;
  color: gray;
}
h1 {
  font-family: "Sacramento", cursive;
  font-size: 12vw;
  text-wrap: nowrap;
  align-self: center;
  margin: 10vw 0 5vw 0px;
  order: 1;
  box-sizing: border-box;
  cursor: context-menu;
}
.line-saving {
  display: flex;
  flex-direction: row;
  width: inherit;
  gap: 3vw;
  justify-content: center;
  order: 3;
}
.layers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  width: 100%;
  padding: 3vw;
  box-sizing: border-box;
  order: 5;
}
.layer {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: center;
  gap: 1vw;
}
.layer input {
  width: 15%;
  text-align: center;
  border-radius: 4vw;
}
.layer select {
  width: 50%;
  text-align: center;
}
.layer select option {
  font-size: 1.5vw;
}
input, select, label {
  font-size: 4vw;
  line-height: 4vw;
  font-family: "Open Sans", sans-serif;
  height: auto;
  border: none;
}
label {
  align-content: center;
}
button {
  align-self: center;
  font-family: "Open Sans", sans-serif;
  background-color: #f0a40c;
  border: 0;
  border-radius: 4vw;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 500;
  outline: 0;
  padding: 1.5vw 1.5vw;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
}
button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}
button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.1);
}
.clickable-button {
  cursor: pointer;
}
select .clickable-button {
  min-width: fit-content;
}
.close-button {
  background-color: grey;
}
.custom-number-input {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
.line-footer {
  order: 101;
  font-size: 4vw;
  margin: 2vw;
  text-align: center;
  cursor: context-menu;
}

/*Desktops*/
/* @media only screen and (min-width: 800px) {

} */
